/* ImagePage.css */

.image-container {
    display: flex;
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
    height: 50vh; /* Make the container take the full height of the viewport */
  }
  
  .image {
    width: 250px; /* Adjust the size of your circular images */
    height: 250px;
    border-radius: 50%;
    margin: 30px;
    cursor: pointer;
    transition: filter 0.3s; /* Smooth transition for the darkness effect */
  
    /* Add any additional styling for your images */
  }
  
  .image.selected {
    filter: brightness(0.7); /* Darken the selected image */
  }
  